.box {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100lvw;
    backdrop-filter: blur(2px);
}
.clock {
    font-size: 8vw;
    padding: 5px 0px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 32px;
    /* grid-row-start: 2; */
}
.main > :nth-child(2) {
    width: 100lvw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.main > :nth-child(2) > * {
    padding: 2px 8px;
    font-weight: 500;
    font-size: 3.5vw;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-radius: 4px;
    border: solid;
}
.main > :nth-child(2) > :nth-child(1) {
    color: #4caf50;
}
.main > :nth-child(2) > :nth-child(2) {
    color: #e53935;
}
.main > :nth-child(2) > :nth-child(3) {
    color: rgb(255, 255, 255);
}
.page {
    height: 100lvb;
    display: flex;
    justify-content: center;
    align-items: center;
}
